:root{
    --azul-claro: #9198f2;
    --azul-padrao: #363ec0;
    --azul-escuro: #170f64;
    --azul-marinho: #000c82;
    --bege: #fffed5;
    --bege-escuro: #bfbea3;
}


* {margin: 0;}
body {float: left; width: 100%; min-height: 100vh; padding: 0 0 50px; background: var(--azul-claro); display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 100px}
.titulo-principal{font:40px atari;margin: 30px 0 -50px;}
h2{font: 26px atari;}
.gameboy{position: relative; width: fit-content;}


.gameboy.cima {display: flex;position: relative;}
.gameboy.cima .esq{z-index: 2; max-width: 400px; width: 400px; padding: 10px; background: var(--azul-padrao); box-shadow: 0 0 0 13px var(--azul-padrao); border-radius: 15px;display: flex;flex-wrap: wrap;gap: 15px}
.gameboy.cima .esq .botao{transition:.1s; background: var(--azul-marinho); width: 55px; height: 12px; border-radius: 4px 4px 0 0; position: absolute; top: -24px;}
.gameboy.cima .esq .botao:hover{height: 8px;top: -20px;}
.gameboy.cima .esq .top{width: 100%; height: 215px; background: var(--azul-escuro);padding: 45px;border-radius: 20px;}
.gameboy.cima .esq .top .interno{width: calc(100% - 20px); height: calc(100% - 20px); padding: 10px; background: var(--bege); border-radius: 10px;}
.gameboy.cima .esq .bottom{width: 100%;}

.gameboy.cima .dir{z-index: 1; transition:1s; width: auto; height: min-content; background: var(--bege); border:10px solid var(--azul-escuro); box-shadow: 0 0 0 13px var(--azul-padrao); border-radius: 0 15px 15px 0;padding: 10px;margin:20px 0 20px -170px; }
.gameboy.cima .dir .historico{padding: 10px 0; height: 130px; overflow-y: auto;}
.gameboy.cima .dir .botao{transition: .1s;background: var(--azul-marinho);width: 12px;height: 30px;border-radius: 0 4px 4px 0;position: absolute;right: -24px;}
.gameboy.cima .dir .botao:hover{width: 8px;right: -20px;}

.gameboy.baixo{width: 490px; background: var(--bege); border:10px solid var(--azul-escuro); margin: -10px; box-shadow: 0 0 0 13px var(--azul-padrao); border-radius: 15px;padding: 10px;display: flex;flex-wrap: wrap;gap: 15px;}
.gameboy.baixo .botao{transition:.1s; background: var(--azul-marinho); width: 55px; height: 12px; border-radius: 4px 4px 0 0; position: absolute; right: 30px;top: -35px;}
.gameboy.baixo .botao:hover{height: 8px;top: -31px;}
.gameboy.baixo form{display: flex; justify-content: space-between; flex-wrap: wrap; width: 100%; gap: 15px}
.gameboy.baixo input {width: 180px; background: var(--bege-escuro); border: 0; height: 35px; border-radius: 10px; padding: 0 10px; font: 23px atari}
.gameboy.baixo select{background: var(--bege-escuro); border: 0; height: 35px; border-radius: 10px; font: 23px atari}
.gameboy.baixo input[name="calcular"] {cursor: pointer; transition:.2s; background: #c4dca2;}
.gameboy.baixo input[name="calcular"]:hover {background: #8caa62;}
.gameboy.baixo .calc{width: 100%;}

